*{
    //padding: 0;
    //margin: 0;
    //box-sizing: border-box;
}

body{
    //display: flex;
    //justify-content: center;
    
}

.div1{
    border: 2px solid black;
    margin: 20px;
    padding: 10px;
    text-align: left; 
}
